.toggle-label {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 34px;
}

  .toggle-inner {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
}

.toggle-switch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid grey;
    border-radius: 50%;
}

.toggle-cb:checked + .toggle-label .toggle-switch{
    background-color: rgb(241, 12, 81);
}

.toggle-cb:checked + .toggle-label .toggle-switch::before {
    transform: translateX(125px);
}

.toggle-label::after {
    content: "No";
    position: absolute;
    /*
    left: 95px;
    bottom: 12px;
    */
    font-size: xx-large;
    color: rgba(70, 67, 67, 0.329);
}

.toggle-cb:checked + label::after {
    opacity: 0;
}

.toggle-cb:checked + .toggle-label::before {
    content: "Yes";
    position: absolute;
    z-index: 1;
    left: 50px;
    bottom: -2px;
    font-size: xx-large;
    color: white;
}